.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  margin: 92px 558px 24px 556px;
  width: fit-content;
}


@media screen and (max-width: 768px) {
   .footer__copyright {
    margin: 88px auto 24px;
  }
}


@media screen and (max-width: 320px) {
    .footer__copyright {
    margin: 64px auto 24px;
    font-size: 0.87rem;
    line-height: 14px;
  }
}
