
.content {
  max-width: 830px;
  margin: 0px 0px 0px 148px;
}

.intro__title {
  font-size: 3.37rem;
  font-weight: 900;
  line-height: 58px;
  margin-top: 92px;
}

.intro__quote {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 40px;
  max-width: 738px;
}

.intro__quote-author {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  margin-top: 10px;
  max-width: 732px;
}

.intro__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  margin-top: 32px;
  max-width: 722px;
}

@media screen and (max-width: 844px) {
  .content {
    margin: 0 auto;
    max-width: 720px;
  }

  .intro__title {
    font-size: 2.81rem;
    line-height: 55px;
    margin: 90px 0px 50px;
  }

  .intro__description {
    margin-top: 32px;
    max-width: 700px;
  }

  .intro__quote-author {
    font-size: 20px;
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {

  .content {
    margin: 0 auto;
    max-width: 720px;
    margin: 0px 10px 0px;
  }

  .intro__title {
    font-size: 2.50rem;
    line-height: 49px;
    margin: 90px 0px 50px;
  }

  .intro__description {
    margin-top: 32px;
    max-width: 650px;
  }

  .intro__quote-author {
    font-size: 18px;
    max-width: 650px;
    margin-right: 10px;
  }

}

@media screen and (max-width: 584px) {
  .content {
    margin: 0px 10px 0px 10px;
    max-width: 500px;
  }

  .intro__title {
    font-size: 2.20rem;
    line-height: 40px;
    margin: 90px 0px 50px;
  }

  .intro__description {
    margin-top: 32px;
    max-width: 480px;
  }

  .intro__quote-author {
    font-size: 20px;
    max-width: 480px;
  }
}


@media screen and (max-width: 320px) {

  .content {
    width: 320px;
  }

  .intro__title {
    font-size: 2rem;
    line-height: 35px;
    margin: 64px 16px 0px;
  }

  .intro__quote {
    margin: 40px 16px 0px;
    margin-left: 16px;
    line-height: 30px;
  }

  .intro__quote-author {
    max-width: 320px;
    margin-right: 16px;
  }

  .intro__description {
    margin: 32px 16px 0px;
    margin-left: 16px;
    font-size: 1rem;
    line-height: 26.08px;
    width: 288px;
  }
}