.lead {
  width: 100%;
}

.lead__title {
  margin: 90px auto 0px;
  font-size: 6rem;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}

.lead__subtitle {
  font-size: 1.87rem;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 32px auto 0px;
  max-width: 720px;
}

.lead__image {
  max-width: 984px;
  margin: 64px auto 0px;
  width: 100%;
  display: block;
}

@media screen and (max-width: 844px) {
  .lead__title {
    width: 679px;
    font-size: 5.2rem;
    line-height: 90px;
  }

  .lead__subtitle {
    width: 679px;
    margin-top: 29px;
    font-size: 1.90rem;
    line-height: 36px;
  }

  .lead__image {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 530px;
    font-size: 4.69rem;
    line-height: 79px;
  }

  .lead__subtitle {
    width: 720px;
    margin-top: 25px;
    font-size: 1.98rem;
    line-height: 36px;
  }

  .lead__image {
    margin-top: 30px;
  }
}

@media screen and (max-width: 584px) {
  .lead__title {
    width: 370px;
    font-size: 3.5rem;
    line-height: 60px;
    margin-top: 70px;
  }

  .lead__subtitle{
    width: 430px;
    margin-top: 40px;
    font-size: 2rem;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 228px;
    margin-top: 50px;
    font-size: 2.5rem;
    line-height: 44px;
  }

  .lead__subtitle {
    width: 288px;
    margin-top: 16px;
    font-size: 1rem;
    line-height: 20px;
  }

  .lead__image {
    margin-top: 40px;
  }
}
